body {
  display: flex;
  min-height: 100vh;
}
/* chat記入 */
.name {
  font-size: 30px;
  height: 30px;
  width: 350px;
}
.text {
  height: 200px;
  font-size: 15px;
  width: 350px;
}
.leftNavigation {
  width: 400px;
  text-align: center;
  background-color: #888;
  color: #fff;
}
.leftNavigation h1 {
  margin: 5px;
}

/* chat-main */
.content {
  overflow: scroll;
}
.content-main {
  flex: 1;
  background-color: #eee;
  text-align: center;
  margin-left: 10px;
  overflow: scroll;
}
.chat-contents {
  background-color: #56885eab;
  border: 2px solid #56885eab;
  height: 300px;
  width: 250px;
  float: left;
  overflow: scroll;
  margin: 5px;
}
.chat-contents img {
  width: 300px;
}
p {
  overflow: scroll;
}
